# ── LLM ─────────────────────────────────────────
ACTIVE_LLM_PROVIDER=backup
BACKUP_PROVIDER=groq
BACKUP_MODEL_ID=llama-3.3-70b-versatile

# ── SQL Server ──────────────────────────────────
DB_SERVER=localhost\SQLEXPRESS
DB_NAME=swinhackathon_db
DB_DRIVER={ODBC Driver 17 for SQL Server}
DB_TRUSTED_CONNECTION=yes
